---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<div class="relative left-4 mb-2">
  <span data-translate class="font-outline-2 absolute -left-4 -top-4 text-4xl font-bold uppercase italic text-transparent select-none" aria-hidden="true" style="font-family: 'Poppins', sans-serif;">
    {text}
  </span>
  <span data-translate class="font-outline-2 absolute -left-2 -top-2 text-4xl font-bold uppercase italic text-transparent select-none" aria-hidden="true" style="font-family: 'Poppins', sans-serif;">
    {text}
  </span>
  <p data-translate class="relative z-10 text-4xl font-bold uppercase italic" style="color: var(--color-theme-secondary); font-family: 'Poppins', sans-serif;">
    {text}
  </p>
</div>
